.customers-list {
  padding: 30px 40px 258px;
  max-width: 968px;
  width: 100%;

  @media (max-width: 1024px) {
    padding: 15px 20px 100px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;

    @media (max-width: 500px) {
      display: block;
      margin-bottom: 20px;
    }

    &-title {
      @media (max-width: 500px) {
        margin-bottom: 10px;
      }
      &-content {
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -0.01em;
        margin-bottom: 7px;

        @media (max-width: 1024px) {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-hint {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.01em;
        color: var(--green-16);

        @media (max-width: 1024px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    &-search {
      max-width: 216px;
      width: 100%;
      position: relative;
      right: 10px;

      @media (max-width: 1024px) {
        right: initial;
      }

      @media (max-width: 500px) {
        max-width: 100%;
      }

      &-input {
        height: 38px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 12px;
        padding: 10px 10px 10px 40px;

        &::placeholder {
          color: var(--gray-B5);
        }

        &:focus {
          border-radius: 10px;
          border: 1px solid var(--lilac-59);
        }
      }

      &-img {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__table {
    max-width: 968px;
    width: 100%;
    overflow-x: auto;

    &-list {
      list-style: none;
      font-size: 14px;

      @media (max-width: 1024px) {
        font-size: 12px;
      }
    }

    &-header {
      color: var(--gray-B5);
      display: flex;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 34px;
      line-height: 21px;
      letter-spacing: -0.01em;

      @media (max-width: 1024px) {
        margin-bottom: 16px;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-bottom: 40px;
      line-height: 21px;
      letter-spacing: -0.01em;

      @media (max-width: 1024px) {
        margin-bottom: 18px;
      }

      &:last-child {
        margin-bottom: 52px;
      }
    }

    &-cell {
      &-name {
        max-width: 160px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }

      &-company {
        max-width: 120px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 500px) {
          display: none;
        }
      }

      &-phone {
        max-width: 145px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 400px) {
          display: none;
        }
      }

      &-email {
        max-width: 195px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-country {
        max-width: 130px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: 650px) {
          display: none;
        }
      }

      &-status {
        width: 100%;
        max-width: 85px;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      display: block;
    }

    &-data {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: var(--gray-B5);

      @media (max-width: 1024px) {
        text-align: center;
        margin-bottom: 15px;
      }
    }

    &-pagination {
      display: flex;
      gap: 12px;

      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
  }
}
