.nav-link {
  text-decoration: none;
  color: var(--gray-91);
  display: flex;
  align-items: center;
  height: 46px;
  padding: 11px 8px 11px 11px;
  letter-spacing: -0.14px;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: all 0.5s;

  &--active {
    color: #fff;
    background-color: var(--lilac-59);
  }

  &:hover {
    background-color: var(--lilac-59--hover);
    color: #fff;
  }
}
