.navigation {
  max-width: 306px;
  min-width: 280px;
  width: 100%;
  padding: 0 28px 76px;
  position: relative;

  &__logo {
    text-decoration: none;
    height: 39px;
    margin-bottom: 54px;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;

    &-img {
      max-width: 195px;
      width: 100%;
      margin-right: 4px;
    }

    &-version {
      position: relative;
      bottom: 9px;
      font-size: 10px;
      letter-spacing: -0.1px;
      color: var(--gray-83);
    }
  }

  &__list {
    &-link {
      &-img {
        margin-right: 14px;
      }

      &-title {
        letter-spacing: -0.14px;
        font-size: 14px;
        margin-right: 10px;
      }

      &-arrow {
        margin-left: auto;
      }
    }
  }

  &__user-info {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 76px;
    

    &-image {
      &-wrapper {
        height: 42px;
        width: 42px;
        border-radius: 50%;
        overflow: hidden;
      }

      &-photo {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &-descr {
      &-name {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.01em;
      }

      &-job {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: var(--gray-75);
      }
    }
  }
}
